/* font-family: 'Roboto', sans-serif; */

*,
:after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

a {
    color: white;
    text-decoration: none;
}

/* HEADER MENU - FIXED */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

.logo {
    position: relative;
    height: 100px;
    left: 2%;
    top: 50%;
    transform: translate(0, -50%);
}

.socials {
    position: absolute;
    left: 23%;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 42px;
    letter-spacing: 10px;
}

i {
    transition: .3s;
}

.fa-facebook-square:hover {
    color: rgb(74, 107, 179);
    transform: scale(1.3);
}

.fa-instagram:hover {
    color: rgb(255, 132, 75);
    transform: scale(1.3);
}

nav.main {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(0, -50%);
    font-size: 18px;
}

.hamburger {
    display: none;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: black;
}

nav.main ul li {
    float: left;
    list-style-type: none;
    text-transform: uppercase;
    padding-right: 50px;
}

.main a {
    color: white;
    transition: 0.3s;
}

.main a:hover {
    color: rgba(255, 230, 0, 0.966);
}

.contact {
    position: absolute;
    color: white;
    right: 2%;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 18px;
    text-align: right;
}

.contact p {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact i {
    margin-right: 14px;
}

@media (max-width: 1600px) {
    header {
        height: 15vh;
    }

    .socials {
        left: 25%;
    }

    nav.main {
        left: 36%;
        font-size: 16px;
    }

    .contact p {
        right: 3%;
        font-size: 14px;
    }
}

@media (max-width: 1366px) {
    nav.main {
        top: 67%;
        left: 45%;
        font-size: 16px;
    }

    .logo {
        height: 80px;
        left: 3.5%;
        top: 50%;
    }

    .socials {
        left: 28%;
        top: 50%;
        letter-spacing: 15px;
    }

    .contact {
        top: 25%;
        right: 7.5%;
    }

    .contact p {
        float: left;
        padding-left: 30px;
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    header {
        background-color: black;
    }

    .main {
        display: none;
    }

    .hamburger {
        display: block;
        top: 50%;
        right: 3%;
        font-size: 10vw;
        color: rgb(255, 123, 0);
    }

    .logo {
        height: 12vw;
        left: 5%;
        top: 50%;
    }

    .socials i {
        display: none;
    }

    .contact {
        top: 50%;
        right: 25%;
        color: rgb(255, 238, 0);
    }

    .contact p {
        float: none;
        font-size: 38px;
        margin: 0;
    }

    .contact p:nth-child(2) {
        display: none;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    .hamburger {
        font-size: 8vh;
    }

    .logo {
        height: 12vh;
        left: 3.5%;
    }

    .contact p {
        font-size: 30px;
    }
}

@media (max-width: 900px) and (orientation: portrait) {
    .contact p {
        font-size: 16px;
    }
}

@media (max-width: 900px) and (orientation: landscape) {
    .contact p {
        font-size: 14px;
        float: left;
    }
}

@media (max-width: 854px) and (orientation: landscape) {
    .contact p {
        font-size: 18px;
    }
}

@media (max-width: 800px) and (orientation: portrait) {
    .contact p {
        float: none;
        font-size: 23px;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .contact {
        right: 13%;
    }

    .contact p {
        font-size: 16px;
    }
}

@media (max-width: 640px) and (orientation: portrait) {
    .contact p {
        font-size: 18px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {}

@media (max-width: 480px) and (orientation: portrait) {
    .logo {
        height: 18vw;
    }

    .contact {
        top: 75%;
        right: 20%;
    }

    .contact {
        display: none;
    }
}

/* KONIEC HEADER MENU */

/* SEKCJA 1 (tło, slogan, przyciski) */
section.first {
    position: relative;
    max-height: 100vh;
}

section .back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-animation: slider 10s infinite linear;
    animation: slider 10s infinite linear;
    /* animacja zmieniającego się tła */
}

section .back2 {
    position: relative;
    display: block;
    max-height: 100vh;
    opacity: 0;
    width: 100%;
    -webkit-animation: slider 10s infinite linear;
    animation: slider 10s 5s infinite linear;
}

.banner {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px black;
    transition: none 0s ease 0s;
    color: white;
}

html h1 {
    font-size: 58px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

html h2 {
    font-size: 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

html h3 {
    font-size: 30px;
    letter-spacing: 2px;
}

html p,
li {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.3;
}

.banner h1,
.banner h2 {
    position: absolute;
    width: 100%;
    transition: none 0s ease 0s;
}

.banner h2 {
    margin-top: 4%;
}

.slide1 {
    opacity: 0;
    -webkit-animation: slider 10s infinite linear;
    animation: slider 10s infinite linear;
}

.slide2 {
    opacity: 0;
    -webkit-animation: slider 10s 5s infinite linear;
    animation: slider 10s 5s infinite linear;
}

@keyframes slider {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.button {
    width: 200px;
    height: 50px;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 217, 0);
    opacity: 0.8;
    border: 1px solid transparent;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
    outline: none;
    animation: attention 16s infinite linear;
    transition: .3s;
}

.about {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: 10%;
}

.button:hover {
    background-color: rgba(255, 145, 0, 0.966);
    text-shadow: none;
    opacity: 1;
}

@keyframes attention {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    9% {
        transform: translate(-50%, -50%) scale(1);
    }

    10% {
        transform: translate(-50%, -50%) scale(1.07);
    }

    11% {
        transform: translate(-50%, -50%) scale(0.94);
    }

    12% {
        transform: translate(-50%, -50%) scale(1.04);
    }

    13% {
        transform: translate(-50%, -50%) scale(1);
    }
}

/* strzałeczki sugerujące przesunięcie */

.scroll-down {
    opacity: 1;
    cursor: pointer;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 2%;
    left: 50%;
    display: block;
    width: 3vw;
    height: 3vw;
    border: 2px solid #FFF;
    background-size: 2vw auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1) translate(-50%, 0);
}

.scroll-down:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: scale(1) translate(-50%, 0);
        -ms-transform: scale(1) translate(-50%, 0);
        transform: scale(1) translate(-50%, 0);
    }

    40% {
        -webkit-transform: scale(1) translate(-50%, -10px);
        -ms-transform: scale(1) translate(-50%, -10px);
        transform: scale(1) translate(-50%, -10px);
    }

    60% {
        -webkit-transform: scale(1) translate(-50%, -5px);
        -ms-transform: scale(1) translate(-50%, -5px);
        transform: scale(1) translate(-50%, -5px);
    }
}

@media (max-width: 1600px) {
    html h1 {
        font-size: 52px;
    }

    html h2 {
        font-size: 36px;
    }

    html h3 {
        font-size: 28px;
    }

    .about {
        width: 200px;
        height: 50px;
        font-size: 18px;
    }
}

@media (max-width: 1366px) {
    html h1 {
        font-size: 48px;
    }

    html h2 {
        font-size: 32px;
    }

    html h3 {
        font-size: 26px;
    }

    html p,
    li {
        font-size: 16px;
    }

    .banner h2 {
        margin-top: 5%;
    }

    .about {
        top: 45%;
    }
}

@media (max-width: 1024px) and (orientation: portrait) {
    html h1 {
        font-size: 56px;
    }

    html h2 {
        font-size: 40px;
    }

    html h3 {
        font-size: 34px;
    }

    html p,
    li {
        font-size: 23px;
    }

    section .back2 {
        margin-top: 15vh;
    }

    .banner {
        top: 35%;
    }

    .about {
        top: 52%;
        width: 200px;
        height: 55px;
        font-size: 22px;
    }

    .banner h2 {
        margin-top: 7.5%;
    }

    .scroll-down {
        width: 5vw;
        height: 5vw;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    html h1 {
        font-size: 40px;
    }

    html h2 {
        font-size: 30px;
    }

    html h3 {
        font-size: 23px;
    }

    html p,
    li {
        font-size: 18px;
    }

    .about {
        width: 180px;
        height: 45px;
        font-size: 16px;
    }

    .scroll-down {
        width: 5vw;
        height: 5vw;
        bottom: 10%;
    }
}

@media (max-width: 896px) and (orientation: portrait) {
    .about {
        width: 180px;
        height: 45px;
        font-size: 16px;
    }
}

@media (max-width: 896px) and (orientation: landscape) {
    .about {
        width: 180px;
        height: 40px;
        font-size: 16px;
    }

    .banner {
        top: 32%;
    }

    .banner h2 {
        margin-top: 6%;
    }

    .about {
        top: 43%;
    }

    .scroll-down {
        bottom: 12%;
    }
}

@media (max-width: 800px) and (orientation: portrait) {
    html h1 {
        font-size: 44px;
    }

    html h2 {
        font-size: 30px;
    }

    html h3 {
        font-size: 32px;
    }

    html p,
    li {
        font-size: 22px;
    }
}

@media (max-width: 800px) and (orientation: landscape) {
    html h1 {
        font-size: 42px;
    }

    html h2 {
        font-size: 28px;
    }

    html h3 {
        font-size: 28px;
    }

    html p,
    li {
        font-size: 22px;
    }
}

@media (max-width: 736px) and (orientation: landscape) {
    .banner h2 {
        margin-top: 8%;
    }

    .about {
        top: 48%;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    html h1 {
        font-size: 36px;
    }

    html h2 {
        font-size: 24px;
    }

    html h3 {
        font-size: 24px;
    }

    html p,
    li {
        font-size: 18px;
    }

    .banner h2 {
        margin-top: 8%;
    }
}

@media (max-width: 600px) and (orientation: portrait) {
    .banner h1 {
        font-size: 36px;
    }

    .banner h2 {
        font-size: 24px;
    }
}

@media (max-width: 480px) and (orientation: portrait) {
    html h1 {
        font-size: 30px;
    }

    html h2 {
        font-size: 24px;
        letter-spacing: 0;
    }

    html h3 {
        font-size: 24px;
    }

    html p,
    li {
        font-size: 18px;
    }

    .banner h1 {
        font-size: 24px;
    }

    .banner h2 {
        font-size: 16px;
        margin-top: 8.5%;
    }

    .about {
        width: 140px;
        height: 30px;
        font-size: 14px;
    }

    .scroll-down {
        width: 6.5vw;
        height: 6.5vw;
    }
}

@media (max-width: 568px) and (orientation: landscape) {
    html h1 {
        font-size: 36px;
        letter-spacing: 1px;
    }

    html h2 {
        font-size: 28px;
    }

    html h3 {
        font-size: 24px;
    }

    html p,
    li {
        font-size: 18px;
    }

    .banner h1 {
        font-size: 26px;
    }

    .banner h2 {
        font-size: 20px;
        letter-spacing: 0;
        margin-top: 6.5%;
    }

    .about {
        width: 110px;
        height: 30px;
        font-size: 12px;
    }

    .scroll-down:before {
        width: 8px;
        height: 8px;
    }
}

@media (max-width: 411px) and (orientation: portrait) {
    html h1 {
        font-size: 28px;
        letter-spacing: 0;
    }

    html h2 {
        font-size: 22px;
    }

    html h3 {
        font-size: 20px;
    }

    .banner h1 {
        font-size: 22px;
    }

    .banner h2 {
        font-size: 14px;
    }

    .about {
        width: 100px;
        height: 22px;
        font-size: 10px;
    }

    .scroll-down:before {
        width: 8px;
        height: 8px;
    }
}

@media (max-width: 320px) and (orientation: portrait) {
    html h1 {
        font-size: 24px;
    }

    html h2 {
        font-size: 19px;
    }

    html h3 {
        font-size: 17px;
    }

    html p,
    li {
        font-size: 15px;
    }

    .banner h1 {
        font-size: 20px;
    }

    .banner h2 {
        font-size: 14px;
    }
}


/* KONIEC STRZAŁEK */
/* KONIEC SEKCJI 1 (tło, slogan, przyciski) */

/* SEKCJA POZNAJ NAS */

section.second {
    position: relative;
    overflow: hidden;
}

.second p {
    margin-top: 18px;
}

.separator {
    width: 200px;
    height: 5px;
    border-top: 4px solid orange;
    margin: 30px 0;
}

.container1 {
    width: 50%;
    padding: 50px;
}

.second img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 50%;
    margin-bottom: 30px;
}

.more {
    margin: 50px 0 0 100px;
}

@media (max-width: 1366px) {
    .container1 {
        padding: 30px 0 10px 30px;
    }
}

@media (max-width: 1024px) and (orientation: portrait) {
    .second p {
        margin-top: 18px;
    }

    .separator {
        width: 250px;
    }

    .container1 {
        width: 100%;
        padding: 50px;
    }

    .second img {
        position: initial;
        float: right;
        max-width: 100%;
    }

    .buttons {
        width: 250px;
        height: 65px;
        font-size: 18px;
    }

    .more {
        margin: 65px 0 0 120px;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    p {
        margin-top: 18px;
    }

    .separator {
        width: 250px;
    }

    .container1 {
        width: 100%;
        padding: 50px;
    }

    .second img {
        position: initial;
        float: right;
        max-width: 100%;
    }

    .buttons {
        width: 250px;
        height: 65px;
        font-size: 18px;
    }

    .more {
        margin: 65px 0 0 120px;
    }
}

@media (max-width: 896px) and (orientation: landscape) {
    .buttons {
        width: 180px;
        height: 45px;
    }

    .separator {
        width: 180px;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .container1 {
        padding: 30px;
    }
}

@media (max-width: 533px) and (orientation: landscape) {
    .container1 {
        padding: 20px;
    }

    .buttons {
        margin: 50px 0 0 100px;
    }
}

@media (max-width: 480px) and (orientation: portrait) {
    .buttons {
        width: 180px;
        height: 45px;
        font-size: 16px;
        margin: 50px 50% 0 50%;
    }

    .container1 {
        padding: 30px;
    }

    .separator {
        width: 180px;
    }
}

@media (max-width: 375px) and (orientation: portrait) {
    .container1 {
        padding: 18px;
    }
}

/* SEKCJA ABOUT US (menu) */

section.aboutus {
    position: relative;
    background-color: #fff;
    background-image: linear-gradient(90deg, rgb(219, 217, 223) -25%, #fff 60%, rgb(172, 170, 185) 95%);
    ;
    overflow: hidden;
}

.menus {
    max-width: 1280px;
    margin: 0 auto;
}

div.rolety {
    position: relative;
    width: 100%;
    height: 35vh;
    background-image: url(../img/strona\ w\ budowie.jpg);
}

.rolety h1 {
    position: absolute;
    text-transform: lowercase;
    top: 50%;
    left: 35%;
    transform: translate(-50%, 0%);
    color: white;
}

.aboutus .text {
    margin: 0 auto;
}

.text>h2 {
    text-transform: uppercase;
    margin-top: 70px;
    font-size: 46px;
}

.text>h3 {
    margin-bottom: 35px;
    letter-spacing: 1px;
}

.text>p {
    margin: 15px 0;
}

.text li {
    line-height: 1.5;
}

.text ul span {
    display: block;
    margin: 35px 0 15px 0;
    font-weight: 600;
    font-size: 20px;
}

.text p span {
    font-weight: 600;
}

section.aboutus .button {
    position: initial;
    margin: 50px 0 50px 80px;
    outline: none;
}

@media (max-width: 1366px) {
    div.rolety {
        background-size: cover;
    }

    .aboutus .text {
        max-width: 1080px;
    }

    .text>h2 {
        font-size: 36px;
    }

    .text>h3 {
        font-size: 22px;
    }
}

@media (max-width: 1024px) and (orientation: portrait) {
    div.rolety {
        height: 30vh;
        background-position: 50% -50%;
    }

    .rolety h1 {
        top: 65%;
        left: 27%;
    }

    .aboutus .text {
        margin: 0 80px;
    }

    .text>h3 {
        font-size: 31px;
    }

    .text li {
        line-height: 2;
        font-size: 26px;
    }

    .text ul span {
        font-size: 30px;
    }

    section.aboutus .button {
        margin: 70px 0 50px 110px;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    .rolety h1 {
        top: 55%;
        left: 30%;
    }

    .aboutus .text {
        margin: 0 80px;
    }

    .text li {
        line-height: 1.5;
        font-size: 20px;
    }

    .text ul span {
        font-size: 24px;
    }

    section.aboutus .button {
        margin: 50px 0 50px 100px;
    }
}

@media (max-width: 896px) and (orientation: landscape) {
    div.rolety {
        height: 40vh;
    }

    .aboutus .text {
        margin: 0 50px;
    }

    .text li {
        line-height: 1.5;
        font-size: 18px;
    }

    .text ul span {
        font-size: 21px;
    }

    section.aboutus .button {
        margin: 50px 0 50px 100px;
    }
}

@media (max-width: 812px) and (orientation: portrait) {
    div.rolety {
        background-position: 50% -170%;
    }
}

@media (max-width: 812px) and (orientation: landscape) {
    .text>h2 {
        font-size: 28px;
        margin-top: 45px;
    }

    .text>h3 {
        font-size: 20px;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    div.rolety {
        background-position: 50% -50%;
    }

    .text li {
        line-height: 1.5;
        font-size: 18px;
    }

}

@media (max-width: 480px) and (orientation: portrait) {
    div.rolety {
        background-position: 0 -600%;
    }

    .rolety h1 {
        font-size: 38px;
    }

    .aboutus .text {
        margin: 0 26px;
    }

    .text>h2 {
        font-size: 22px;
        margin-top: 35px;
    }

    .text>h3 {
        font-size: 20px;
    }

    .text li {
        line-height: 1.5;
        font-size: 15px;
    }

    .text ul span {
        font-size: 22px;
    }

    section.aboutus .button {
        margin: 50px 50% 0 50%;
    }
}

@media (max-width: 480px) and (orientation: portrait) {
    div.rolety {
        background-position: 50% 170%;
        background-size: 200%;
    }
}

@media (max-width: 375px) and (orientation: portrait) {
    div.rolety {
        background-position: 60% 180%;
        background-size: 200%;
    }

    .rolety h1 {
        font-size: 30px;
    }

    .text>h2 {
        font-size: 20px;
    }

    .text>h3 {
        font-size: 18px;
    }

    .text li {
        font-size: 16px;
    }

    .text ul span {
        font-size: 19px;
    }

    .text p {
        font-size: 16px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {

    .text li {
        font-size: 17px;
    }

    .text ul span {
        font-size: 20px;
    }
}

@media (max-width: 320px) and (orientation: portrait) {
    div.rolety {
        background-position: 70% 150%;
    }

    .text li {
        font-size: 14px;
    }

    .text ul span {
        font-size: 16px;
    }
}

/* KONIEC SEKCJI SECOND */

/* SECTION THIRD */
section.third {
    overflow: hidden;
}

section.third h1 {
    text-align: center;
    text-transform: uppercase;
}

section.third h2 {
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
}

section.third h3 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
}

section.third div.separator {
    margin: 20px 45% 0 45%;
    width: 10%;
}

section.third .imagebox {
    margin-top: 50px;
    max-width: 33.3333333%;
    float: left;
}

section.third .wrap {
    overflow: hidden;
}

section.third p {
    text-align: left;
    padding: 30px;
}

section.third img {
    width: 100%;
    transform: scale(1.03);
    transition: .7s;
}

section.third img:hover {
    transform: scale(1.12);
}

@media (max-width: 1600px) {
    section.third h1 {
        margin: 0;
    }
}

@media (max-width: 800px) and (orientation: portrait) {
    section.third div.separator {
        margin: 20px 40% 20px 40%;
        width: 20%;
    }

    section.third .imagebox {
        max-width: 100%;
        margin: 0 auto;
        float: none;
    }
}

@media (max-width: 667px) and (orientation: landscape) {

    section.third div.separator {
        margin: 20px 40% 20px 40%;
        width: 20%;
    }

    section.third .imagebox {
        max-width: 70%;
        margin: 0 auto;
        float: none;
    }

    section.third p {
        padding: 0 0 18px 0;
    }
}

@media (max-width: 375px) and (orientation: portrait) {
    section.third p {
        padding: 0 15px 15px 15px;
    }
}

/* KONIEC SEKCJI THIRD */

/* SECTION FOURTH */
section.fourth {
    overflow: hidden;
}

section.fourth h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
}

section.fourth .separator {
    margin: 20px auto 40px auto;
}

section.fourth .wrap {
    max-width: 25%;
    max-height: 22vw;
    overflow: hidden;
}

section.fourth .imagebox div {
    position: relative;
    width: 100%;
    height: 22vw;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 1px;
    transition: 1.4s;
    overflow: hidden;
    text-shadow: 2px 2px black, 1px 1px black;
}

section.fourth .wrap:hover div {
    opacity: .9;
    transform: scale(1.2);
}

section.fourth span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 100;
    font-weight: bold;
    color: white;
    text-shadow: 0px 7px 10px black, 0px 7px 20px black, 0px 7px 30px black, 0px 7px 30px black;
}

section.fourth span:nth-child(2) {
    color: rgb(255, 115, 0);
    top: 75%;
}

section.fourth .p1 {
    background-image: url(../img/p-rolety\ materiałowe.jpg);
}

section.fourth .p2 {
    background-image: url(../img/p-rolety\ plisowane.jpg);
}

section.fourth .p3 {
    background-image: url(../img/p-rolety\ zewnętrzne.jpg);
}

section.fourth .p4 {
    background-image: url(../img/p-rolety\ dzień\ noc.jpg);
}

section.fourth .p5 {
    background-image: url(../img/p-żaluzje\ drewniane.jpg);
}

section.fourth .p6 {
    background-image: url(../img/p-żaluzje\ aluminiowe.jpg);
}

section.fourth .p7 {
    background-image: url(../img/p-żaluzje\ pionowe.jpg);
}

section.fourth .p8 {
    background-image: url(../img/p-markizy.jpg);
}

section.fourth .p9 {
    background-image: url(../img/p-moskitiery\ drzwiowe.jpg);
}

section.fourth .p10 {
    background-image: url(../img/p-moskitiery\ okienne.jpg);
}

section.fourth .p11 {
    background-image: url(../img/p-okna.jpg);
}

section.fourth .p12 {
    background-image: url(../img/p-drzwi.jpg);
}

section.fourth .imagebox .shadowed {
    filter: grayscale(100%) brightness(60%);
}

@media (max-width: 1024px) and (orientation: landscape) {
    section.fourth h1 {
        margin-top: 20px;
    }

    section.fourth .wrap {
        max-width: 33.3333%;
        max-height: 29.04vw;
    }

    section.fourth .imagebox div {
        height: 29.04vw;
    }
}

@media (max-width: 1024px) and (orientation: portrait) {
    section.fourth .wrap {
        max-width: 50%;
        max-height: 44vw;
    }

    section.fourth .imagebox div {
        height: 44vw;
        font-size: 44px;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    section.fourth h1 {
        margin-top: 20px;
    }

    section.fourth .imagebox div {
        font-size: 32px;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    section.fourth .imagebox div {
        font-size: 24px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    section.fourth .wrap {
        max-width: 50%;
        max-height: 44vw;
    }

    section.fourth .imagebox div {
        height: 44vw;
    }
}

@media (max-width: 480px) and (orientation: portrait) {
    section.fourth .imagebox div {
        font-size: 24px;
    }
}

@media (max-width: 411px) and (orientation: portrait) {
    section.fourth .wrap {
        max-width: 100%;
        max-height: 88vw;
    }

    section.fourth .imagebox div {
        height: 88vw;
    }
}

/* SEKCJA PRODUCTS */

section.products {
    margin: 0 auto 5% auto;
}

section.products .imagebox div {
    height: 13.5vw;
    font-size: 24px;
}

@media (max-width: 1366px) {
    section.products .imagebox div {
        height: 21vw;
        font-size: 22px;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    section.products {
        margin: 0 auto;
    }
}

@media (max-width: 1024px) and (orientation: portrait) {
    section.products {
        margin: 0 auto;
    }

    section.products .imagebox div {
        height: 44vw;
        font-size: 44px;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    section.products .imagebox div {
        font-size: 32px;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    section.products .imagebox div {
        font-size: 24px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    section.products .wrap {
        max-width: 50%;
        max-height: 44vw;
    }

    section.products .imagebox div {
        height: 44vw;
    }
}

@media (max-width: 480px) and (orientation: portrait) {
    section.products .imagebox div {
        font-size: 24px;
    }
}

@media (max-width: 411px) and (orientation: portrait) {
    section.products .wrap {
        max-width: 100%;
        max-height: 88vw;
    }

    section.products .imagebox div {
        height: 88vw;
    }
}

/* SEKCJA BEZPŁATNY POMIAR (zielona) */

section.fifth {
    position: relative;
    width: 100%;
    padding: 120px 20px;
    background-image: url(../img/wycena-bgc2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    overflow: hidden;
}

section.fifth .wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: column;
}

section.fifth .separator {
    border: 2.5px solid whitesmoke;
    margin: 50px auto;
}

section.fifth a {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin-top: 50px;
    border-radius: 4px;
    padding: 20px 50px;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    box-shadow: rgba(255, 255, 255, 0.6) 0 0px 0px 2px inset;
    transition: .4s;
}

section.fifth a:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
    color: gold;
}

section.fifth h3 {
    font-weight: normal;
}

/* SEKCJA KONTAKT */
section.sixth {
    position: relative;
    overflow: hidden;
}

section.sixth h1 {
    margin-top: 50px;
    text-align: center;
}

section.sixth .separator {
    margin: 50px auto;
}

section.sixth .wrap {
    width: 30%;
    float: left;
    text-align: center;
}

section.sixth .wrap1 {
    margin: 0 0 50px 20%;
}

section.sixth .wrap2 {
    margin: 0 20% 50px 0;
}

section.sixth h3 {
    margin-bottom: 30px;
    font-weight: normal;
}

section.sixth span {
    font-weight: bold;
}

section.sixth .map {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    border: 22px solid yellow;
}

@media (max-width: 1024px) and (orientation: portrait) {
    section.sixth .wrap1 {
        margin: 0 5% 50px 15%;
    }

    section.sixth .wrap2 {
        margin: 0 15% 50px 5%;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    section.sixth .wrap {
        width: 30%;
        float: left;
        text-align: center;
    }

    section.sixth .wrap1 {
        margin: 0 5% 50px 15%;
    }

    section.sixth .wrap2 {
        margin: 0 15% 50px 5%;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    section.sixth .wrap {
        width: 100%;
        float: left;
        text-align: center;
    }

    section.sixth .wrap1 {
        margin: 0;
    }

    section.sixth .wrap2 {
        margin: 0;
    }

    section.sixth .wrap2 h3:nth-child(1) {
        margin: 30px 0 15px 0;
    }

}

@media (max-width: 812px) and (orientation: portrait) {
    section.sixth .wrap {
        width: 100%;
        float: left;
        text-align: center;
    }

    section.sixth .wrap1 {
        margin: 0;
    }

    section.sixth .wrap2 {
        margin: 0;
    }

    section.sixth .wrap2 h3:nth-child(1) {
        margin: 30px 0 15px 0;
    }
}

/* ZAKLADKA KONTAKT */
section.menus5 {
    overflow: hidden;
}

section.menus5 .wrap1 {
    margin: 100px 5% 0 15%;
}

section.menus5 .wrap2 {
    margin: 100px 15% 100px 5%;
}

section.menus5 .wrap3 {
    width: 70%;
    margin: 0 auto;
    word-spacing: 2px;
    line-height: 1.5;
}

section.menus5 .contactmap {
    margin: 50px auto 50px auto;
}

@media (max-width: 1024px) and (orientation: landscape) {
    section.menus5 .contactmap {
        margin: 50px auto;
        max-width: 70%;
    }
}

@media (max-width: 1024px) and (orientation: portrait) {
    section.menus5 .contactmap {
        max-width: 70%;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    section.menus5 .wrap {
        width: 100%;
        float: left;
        text-align: center;
    }

    section.menus5 .wrap1 {
        margin: 50px 0 0 0;
    }

    section.menus5 .wrap2 {
        margin: 0;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    section.menus5 .wrap {
        width: 100%;
        float: left;
        text-align: center;
    }

    section.menus5 .wrap1 {
        margin: 50px 0 0 0;
    }

    section.menus5 .wrap2 {
        margin: 0;
    }

    section.menus5 .wrap3 {
        width: 90%;
        margin: 30px auto 0 auto;
        word-spacing: 0;
        line-height: 1.3;
    }

    section.menus5 .contactmap {
        max-width: 90%;
        max-height: 40vh;
    }
}

/* DESCRIPTION - PRODUCTS */
section.description {
    display: flex;
}

section.description .wrap {
    flex: 0 0 70%;
    max-width: 1280px;
    margin: 100px auto;
}

section.description .menu {
    position: -webkit-sticky;
    position: sticky;
    top: 15%;
    float: left;
    width: 300px;
    margin-bottom: 50px;
    font-size: 0px;
}

section.description nav ul li {
    margin-left: 20px;
}

section.description nav ul li a {
    display: block;
    padding: 12px 10px 12px 0;
    color: black;
    transition: .2s;
}

section.description a:hover {
    color: rgba(255, 145, 0, 0.966);
    cursor: pointer;
}

section.description nav p {
    margin-bottom: 16px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}

hr {
    opacity: 0.4;
}

section.description .aside {
    position: relative;
    float: right;
    width: calc(100% - 380px);
}

section.description .aside h1 {
    margin-bottom: 60px;
}

section.description .aside p {
    margin-bottom: 20px;
}

section.description .aside img {
    position: relative;
    width: 30.666%;
    float: right;
    top: 0;
    left: 10%;
}

section.description .aside h2 {
    margin: 60px 0 15px 0;
}

section.description .aside h3 {
    margin: 40px 0 20px 0;
}

section.description .fusion2 img {
    position: relative;
    left: 10%;
    width: 15vh;
    height: 15vh;
    vertical-align: middle;
}

section.description .a2 img {
    width: 80%;
    float: none;
    margin: 20px 0;
}

section.description .aside .img1 {
    float: right;
    width: 35%;
    margin: 0 0 20px 20px;
}

section.description .a2 .img2 {
    width: 50%;
}

section.description .soon {
    font-weight: normal;
    text-transform: none;
    padding: 12px 10px 12px 0;
    margin: 0;
    font-size: 90%;
    opacity: .6;
}

/* MEDIA DO PRODUCTS */

@media (max-width: 1366px) and (orientation: landscape) {
    section.description .wrap {
        width: 100%;
        flex: 100%;
        margin: 50px 30px 0 30px;
    }

    section.description .aside {
        width: calc(100% - 360px);
    }

    section.description .aside img {
        top: 0;
        left: 0;
        margin-left: 20px;
    }

    section.description .aside .p1-margin {
        margin-bottom: 50px;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    section.description .aside {
        width: calc(100% - 260px);
    }

    section.description .aside .p1-margin {
        margin-bottom: 50px;
    }

    section.description .menu {
        width: 220px;
    }
}

@media (max-width: 1024px) and (orientation: portrait) {
    section.description .wrap {
        width: 100%;
        margin: 30px 40px 0 40px;
    }

    section.description .menu {
        position: relative;
        top: 0;
        left: 0;
        float: none;
        width: 80vw;
        margin: 80px 40px 40px 40px;
    }

    section.description .aside {
        float: none;
        width: 100%;
    }

    section.description .aside h1 {
        margin: initial auto;
        text-align: center;
        margin-bottom: 40px;
    }

    section.description .aside img {
        left: 0;
    }

    section.description .a2 img {
        width: 100%;
        left: 2%;
    }
}

@media (max-width: 823px) and (orientation: landscape) {
    section.description .menu {
        width: 90%;
        margin: 50px auto;
    }

    section.description .aside {
        width: 100%;
    }

    section.description .aside img {
        width: 20%;
        height: 15%;
    }

    section.description .a2 img {
        width: 80%;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%)
    }

    section.description .a2 .img1 {
        width: 30%;
        left: 0;
        transform: none;
    }

    section.description .aside .p1-margin {
        margin-bottom: 0;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    section.description .menu {
        margin: 30px auto;
    }

    section.description .a1 img {
        margin: 0 0 10px 10px;
    }
}

@media (max-width: 480px) and (orientation: portrait) {
    section.description .wrap {
        margin: 0 auto;
    }

    section.description .aside .img1 {
        width: 100vw;
        float: none;
        top: 0;
        left: 0;
        margin: 0 auto;
    }

    section.description .aside img {
        float: none;
        margin: 20px 0 20px 20px;
    }

    section.description .a2 img {
        margin: 0;
        left: 0;
    }

    section.description .a1 img {
        margin: 0 0 0 20px;
        width: 30vw;
        height: auto;
    }

    section.description .aside h1 {
        margin: 20px 0;
    }

    section.description .aside h2 {
        margin: 40px 20px 20px 20px;
    }

    section.description .aside h3 {
        letter-spacing: 0;
        margin: 20px;
    }

    section.description .aside p {
        margin: 20px;
    }

    section.description .aside .p1-margin {
        margin: 20px 20px 0 20px;
    }
}












/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 50px 26px;
    background-color: #282828;
    color: white;
    text-align: center;
}

footer p {
    word-spacing: 1px;
    line-height: 1.5;
}

footer a {
    word-break: break-all;
    transition: .2s;
}

footer a:hover {
    color: rgba(255, 145, 0, 0.966);
}

@media (max-width: 480px) and (orientation: portrait) {
    footer p {
        word-spacing: 3px;
    }
}

/*  */
/* STRONA W BUDOWIE, WORKING */
/*  */
section.working {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: linear-gradient(-45deg, rgba(255, 243, 0, 1), rgba(239, 228, 0, 1));
    line-height: 1.3;
    overflow: hidden;
}

section.working img {
    width: 50vh;
}

section.working div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 2%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section.working a {
    color: mediumturquoise;
    text-shadow: 1px 1px black;
    transition: .2s;
}

section.working a:hover {
    color: rgba(255, 145, 0, 0.966);
}